body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: black;
    font-size: 2.5em;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 1.75em;
    margin: 10px 0 15px 0;
    display: block;
}

.contentWrapper {
    display: flex;
    width: 100%;
    position: relative;
}

/* search area styles */
.contentWrapper .searchArea {
    background-color: #ccc;
    width: 30%;
    height: auto;
}

label {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: block;
    margin: 10px auto;
}

.searchField {
    display: block;
    width: 90%;
    position: relative;
    margin: 10px auto;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.recentSearch {
    width: 90%;
    display: block;
    background-color: white;
    height: auto;
    margin: 10px auto;
    padding: 1em;
    box-sizing: border-box;
}

/* current city */
.contentWrapper .currentCity {
    width: 70%;
    height: auto;
    background-color: #6d95ad;
}

.todayForecast, .fivedForecast {
    display: block;
    width: 90%;
    background-color: #fff;
    height: auto;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #445f6f;
}

.textlabel {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    margin: 10px 0;
}

/* 5 day forecast */
.forecastCardWrapper {
    display: flex;
}

.forecastCard {
    background-color: #9fcee4;
    margin: 10px;
    width: 20%;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
}